################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Client/Web/O10.Client.Web.Portal/.vs/O10.Client.Web.Portal/DesignTimeBuild
