################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Client/Web/O10.Client.Web.Portal/.vs
/Client/Web/O10.Client.Web.Portal/bin
/Client/Web/O10.Client.Web.Portal/obj
/Integrations/Rsk/Contracts/O10Idp/node_modules
/Integrations/Rsk/O10.Integrations.Rsk.Web/bin
/Integrations/Rsk/O10.Integrations.Rsk.Web/obj
/Integrations/Rsk/Wrappers/O10Idp/bin
/Integrations/Rsk/Wrappers/O10Idp/obj
/.vs
