<div *ngIf="messageService.messages.length" style="min-height: 400px;">

  <h2>Messages</h2>
  <button mat-raised-button color="primary" (click)="messageService.clear()">clear</button>
  <br/>
  <br/>

  <div style="min-height: 400px;">
    <table mat-table [dataSource]="messageService.messages" class="mat-elevation-z8" matSort matSortActive="created"
      matSortDisableClear matSortDirection="desc">

      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row">
          <mat-icon aria-hidden="false" aria-label="error" color="warn" *ngIf="row.isError">error</mat-icon>
          <mat-icon aria-hidden="false" aria-label="info" *ngIf="!row.isError">info</mat-icon>
        </td>
      </ng-container>

      <!-- Message Column -->
      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef>State</th>
        <td mat-cell *matCellDef="let row">{{row.message}}</td>
      </ng-container>

      <!-- Created Column -->
      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Created
        </th>
        <td mat-cell *matCellDef="let row">{{row.created | date}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [length]="messageService.messagesCount" [pageSize]="6"></mat-paginator>

</div>
