<mat-card style="background-color: lavender; margin-top: 10px; ">
  <mat-card-header>
    <mat-card-title>Poll State</mat-card-title>
  </mat-card-header>
  <div *ngIf="updating">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!updating">
    <div style="display: block;">
      <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="pollState" (selectionChange)="onPollStateChanged($event)">
          <mat-option value="0">StandBy</mat-option>
          <mat-option value="1">In Preparation</mat-option>
          <mat-option value="2">Started</mat-option>
          <mat-option value="3">Completed</mat-option>
          <mat-option value="4">Cancelled</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" *ngIf="pollState == '2' && oldPollState != pollState" style="margin-left: 10px;">
        <mat-label>Select IdP</mat-label>
        <mat-select [(value)]="selectedIdP">
          <mat-option value="">None</mat-option>
          <mat-option value="{{idp.account.accountId}}" *ngFor="let idp of idpAccounts">{{idp.accountName}}</mat-option>
        </mat-select>
        <mat-hint>Please select an IdP holding identities of voters</mat-hint>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="onUpdateState()"
      [disabled]="oldPollState === pollState || pollState == '2' && !selectedIdP">Update State</button>
  </div>
</mat-card>

<mat-card style="background-color: aliceblue; margin-top: 10px; ">
  <mat-card-header>
    <mat-card-title>Candidates</mat-card-title>
  </mat-card-header>
  <div *ngIf="oldPollState != '0'">
    <div *ngIf="poll && poll.candidates && poll.candidates.length > 0">
      <div>
        <table mat-table [dataSource]="candidatesDataSource" class="mat-elevation-z8" matSort
          matSortActive="candidateId" matSortDisableClear matSortDirection="desc">

          <!-- CandidateId Column -->
          <ng-container matColumnDef="candidateId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Candidate Id</th>
            <td mat-cell *matCellDef="let row">{{row.candidateId}}</td>
          </ng-container>

          <!-- Candidate Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let row">{{row.name}}</td>
          </ng-container>

          <!-- Candidate AssetId Column -->
          <ng-container matColumnDef="assetId">
            <th mat-header-cell *matHeaderCellDef>AssetId</th>
            <td mat-cell *matCellDef="let row">{{row.assetId}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <mat-paginator [length]="poll.candidates.length" [pageSize]="6"></mat-paginator>
    </div>
    <div *ngIf="!poll || !poll.candidates || poll.candidates.length === 0">
      <p>No candidates were created yet...</p>
    </div>
    <button mat-raised-button color="primary" (click)="onAddCandiate()" style="margin-top: 10px;"
      *ngIf="oldPollState == '1'">Add
      Candidate...</button>
    <div style="margin-top: 10px;" *ngIf="oldPollState != '1'"><em>Adding candidates allowed only when Poll State is 'In
        Preparation'</em></div>
  </div>
  <div *ngIf="oldPollState == '0'"><em>Please change Poll State in order to be able to see or edit candidates</em></div>
</mat-card>

<mat-card style="background-color: lavender; margin-top: 10px; ">
  <mat-card-header>
    <mat-card-title>Poll Results</mat-card-title>
  </mat-card-header>
  <div *ngIf="poll && poll.candidates && poll.candidates.length > 0">
    <div>
      <table mat-table [dataSource]="pollResultsDataSource" class="mat-elevation-z8" matSort matSortActive="candidateId"
        matSortDisableClear matSortDirection="desc">

        <!-- CandidateId Column -->
        <ng-container matColumnDef="candidateId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Candidate Id</th>
          <td mat-cell *matCellDef="let row">{{row.candidate.candidateId}}</td>
        </ng-container>

        <!-- Candidate Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let row">{{row.candidate.name}}</td>
        </ng-container>

        <!-- Candidate AssetId Column -->
        <ng-container matColumnDef="votes">
          <th mat-header-cell *matHeaderCellDef>Votes</th>
          <td mat-cell *matCellDef="let row">{{row.votes}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsResults"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsResults;"></tr>
      </table>
    </div>
    <mat-paginator [length]="pollResultsDataSource.data.length" [pageSize]="6"></mat-paginator>
  </div>
  <div *ngIf="!poll || !poll.candidates || poll.candidates.length === 0">
    <p>No candidates were created yet...</p>
  </div>
</mat-card>
